/*
 Theme Name:   Bricks Child Theme
 Theme URI:    https://bricksbuilder.io/
 Description:  Use this child theme to extend Bricks.
 Author:       Bricks
 Author URI:   https://bricksbuilder.io/
 Template:     bricks
 Version:      1.1
 Text Domain:  bricks
*/

/* EXPANDABLE SEARCH BAR */
.search-container {
    position: relative;
    height: 40px;
    width: 40px;
  }
  
.search-container .searchbutton {
  position: absolute;
  font-size: 22px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container .search:focus + .searchbutton {
  transition-duration: 0.4s;
  filter: brightness(110%);
}

.search-container .search {
  position: absolute;
  left: 30px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
  background-color: white;
  outline: none;
  border: none;
  padding: 0;
  width: 0;
  height: 100%;
  z-index: 10;
  transition-duration: 0.4s;
  color: #363636;
}

.search-container .search:focus {
  width: 200px; /* Bar width+1px */
  padding: 0 16px 0 0;
}

.search-container .expandright {
  left: auto;
  right: 39px; /* Button width-1px */
}

.search-container .expandright:focus {
  padding: 0 0 0 16px;
}

.search-container .button {
  font-size: 14px;
  height: 100%;
  width: 40px;
  text-align: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

.search-container .button:hover {
  transition-duration: 0.4s;
  filter: brightness(110%);
}

/* HEADER */
body.transparent-nav #navbar {
  background-color: transparent;
  color: white;
}

body.transparent-nav #navbar .dropdown-menu {
  color: #363636;
}

body.transparent-nav #navbar:not(.scrolled) img {
  filter: brightness(0%) invert(100%);
}

body.transparent-nav #navbar.scrolled {
  background-color: white;
  color: inherit;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;
}

body:not(.transparent-nav) #navbar {
  background-color: white;
  color: inherit;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;
}

/* MISC */
.bricks-button {
  cursor: pointer;
}

.bricks-button:hover {
  filter: brightness(90%);
}

.bricks-button.outline {
  background-color: transparent;
  color: white;
}

.opacity-0 {
  opacity: 0;
}

.transition-opacity {
  transition: opacity 0.5s ease 0s;
}

#footer .bricks-shape-divider-inner {
  top: -1px;
}

.has-shape.fix-shape-bottom .bricks-shape-divider-inner {
  bottom: -1px !important;
}

.has-shape.fix-shape-top .bricks-shape-divider-inner {
  top: -1px !important;
}

h2 > b {
  font-weight: 700;
}
